@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: 'Readex Pro', sans-serif;
}

h2 {
  font-style: italic;
}

.primaryTitle {
  font-size: 90px;
  color: rgb(255, 255, 255);
}

.primaryButton {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primaryButton:hover {
  background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64));
}

.secondaryButton {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: 2px solid rgb(121, 119, 119);
  margin: 6px;
}

.secondaryButton:hover {
  color: rgb(48, 48, 48);
  border-color: rgb(48, 48, 48);
}